body {
  overflow: hidden;
  margin: 0;
}

#monacoContainer {
  height: 100%;
  width: 100%;
  margin: 0;
}

.evalViewZone {
  max-height: 3rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: text;
  z-index: 9001;
}

.evalViewZone:hover {
  max-height: none;
  overflow: visible;
  white-space: normal;
}

.evalViewZone div {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: inherit;
  padding-left: .2rem;
}

.evalResultViewZone {
  background-color: rgb(27, 70, 27);
}

.evalErrorViewZone {
  background-color: #822;
}

.evalWaitingForResultViewZone {
  background-color: rgb(42, 42, 42);
}

.evalMarginViewZone {
  text-align: center;
}

.evaluatedSourceDecoration {
  /* text-decoration: underline solid  rgb(27, 70, 27); */
  background-color:#424242;
}

.sourceErrorDecoration {
  background-color: #822;
}

body {
  background-color: #28292c;
}