body {
  overflow: hidden;
  margin: 0;
}

#monacoContainer {
  height: 100%;
  width: 100%;
  margin: 0;
}

.evalViewZone {
  width: 90%;
  white-space: nowrap;
  text-overflow: ellipsis;
  z-index: 9001;
}

.evalViewZone:hover {
  white-space: normal;
}

.evalViewZone div {
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: inherit;
  padding-left: .2rem;
}

.evalViewZone div:hover {
  max-height: 10rem;
  padding-bottom: .2rem;
}


.evalResultViewZone {
  background-color: rgb(27, 70, 27);
}

.evalErrorViewZone {
  background-color: #622;
}

.evalWaitingForResultViewZone {
  background-color: rgb(42, 42, 42);
}

.evalMarginViewZone {
  text-align: center;
}

.evaluatedSourceDecoration {
  text-decoration: underline solid  rgb(27, 70, 27);
}

body {
  background-color: #28292c;
}