body {
  background-color: #dcd9c8;
}

.terminalishOutput {
  width: 42em;
  height: 42em;
  margin: 3em auto 0;
  padding: .5em;

  white-space: pre-wrap;
  overflow-wrap: break-word;
  overflow: overlay;

  border-style: dotted;
  border-width: 1px;
  border-color: #424242;

  font-family: monospace;
  font-size: initial;

  background-color: #001300;
  color: lightgreen;
}

.terminalishInput {
  display: block;
  width: 42em;
  margin:auto;
  padding: .5em;

  border-style: none dotted dotted dotted;
  border-width: 1px;
  border-color: #424242;

  font-family: monospace;
  font-size: initial;
  background-color: #001300;
  color: lightgreen;
}