$oldMonitorBezel: rgb(230, 219, 197);
$terminalBackground: rgb(32, 32, 32);

/* base rgb values corresponding to phosphor wavelengths */
$p1Phosphor: rgb(51,255,51);
$p3Phosphor: rgb(255,176,0);
$p24Phosphor: rgb(102,255,102);

$normalText: darken($p1Phosphor, 16%);
$darkText: darken($p1Phosphor, 32%);
$veryDarkText: darken($p1Phosphor, 42%);
$highlightedText: darken($p3Phosphor, 16%);

body {
  background-color: $oldMonitorBezel;
}

.monitorishBevelContainer {
    background-color: $oldMonitorBezel;
    display: inline-block;
    padding: 5px 7px;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 7px;
    transform: translate(-50%, -50%);
    box-shadow: inset 0px 0px 2px 0px $oldMonitorBezel, inset 5px 5px 10px -1px rgba(0, 0, 0, 0.59), inset -5px -5px 10px -1px rgba(243, 240, 233, 0.9);
}

.terminalishContainer { 
  border-style: inset;
  border-radius: 2px;
  border-width: 2px;

  background-color: $terminalBackground;
  color: $normalText;

  font-family: monospace;
  font-size: initial;
}

.terminalishOutput {
  width: 42em;
  height: 42em;
  margin: 0;
  padding: .5em;

  white-space: pre-wrap;
  overflow-wrap: break-word;
  overflow: overlay;

}

.terminalishInput {
  display: block;
  width: 42em;
  min-height: 1.2em;
  padding: .5em;

  border-style: dotted none dotted none;
  border-width: 1px;
  border-color: $veryDarkText;

  background-color: $terminalBackground;
  color: $normalText;

  resize: vertical;
  overflow-wrap: break-word;
  overflow: overlay;
}

.terminalishInput:focus {
  border-color: $darkText;
  outline: 0;
  /*box-shadow:  inset 0 0px 2px $darkText;*/
}

.terminalishAutocompletePanel {
  display: block;
  width: 42em;
  height: 3.5em;
  margin: .5em;

  overflow: hidden;
  text-overflow: ellipsis;

  color: $darkText;
}

.acSuggestion {
  display: inline-block;
}

.highlightedSuggestion {
  display: inline-block;
  color: $highlightedText;
}

.acDivider {
  color: $veryDarkText;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #222; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #999; 
}
